<div class="fon">
  <div class="pt-5 container">
    <div class="row">
      <!-- сделайте лучше компонент карточки :)
      и плюс рецепты то берутся с сервера )) -->
      <!-- <div *ngFor="let record of records" class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              class="card-img-top"
              src="/assets/ruletiki.png"
              [alt]="record.name"
            />
            <h2 class="card-title">
              {{ record.name }}
            </h2>
            <p class="card-text">
              <b>{{ record.date }}</b>
            </p>
            <p class="card-text">
              {{ record.description }}
            </p>
          </div>
        </div>
      </div> -->
      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/pizza3.jpeg"
              class="card-img-top"
              alt="Американская пицца"
            />
            <h2 class="card-title">Американская пицца</h2>
            <p class="card-text"><b>6.05.2020</b></p>
            <p class="card-text">
              Сыр моцарелла - 250 г, сыр пармезан - 100 г, колбаса салями - 200
              г, шампиньоны - 150 г, оливки без косточек - 100 г, соус томатный
              - 200 г
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img src="/assets/pizza.jpg" class="card-img-top" alt="pizza" />
            <h2 class="card-title">Cырная пицца</h2>
            <p class="card-text"><b>8.06.2020</b></p>
            <p class="card-text">
              Тесто для пиццы, сыр моцарелла - 240 г, сыр пармезан - 60 г, масло
              оливковое - 2 ч. л., соус томатный или кетчуп - 1 стакан
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/salat1.jpg"
              class="card-img-top"
              alt="Праздничный салат Красотка"
            />
            <h2 class="card-title">Праздничный салат "Красотка"</h2>
            <p class="card-text"><b>24.02.2020</b></p>
            <p class="card-text">
              Курица копченая – 300 г, капуста пекинская – 300 г, груша – 1 шт,
              орехи грецкие – 50 г, горчица – 2 ч. л., перец черный молотый – 1
              ч. л., соль
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/ruletiki2.png"
              class="card-img-top"
              alt="Пирог из лаваша с яблоками"
            />
            <h2 class="card-title">Пирог из лаваша с яблоками</h2>
            <p class="card-text"><b>3.07.2020</b></p>
            <p class="card-text">
              Лаваш тонкий - 2 больших листа, яблоки - 3 шт, молоко - 500 мл,
              яйца - 2 шт, сахар - 0,5 стакана, корица молотая
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/salat2.png"
              class="card-img-top"
              alt="Салат Наложница"
            />
            <h2 class="card-title">Салат "Мимоза"</h2>
            <p class="card-text"><b>16.03.2020</b></p>
            <p class="card-text">
              Грудка куриная - 1 шт, кальмар - 1 шт, сыр - 100 г, майонез - 1
              ст. ложка, соль, перец черный молотый
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/cake.jpg"
              class="card-img-top"
              alt="Рождественский кекс с маком"
            />
            <h2 class="card-title">Рождественский кекс с маком</h2>
            <p class="card-text"><b>10.02.2020</b></p>
            <p class="card-text">
              Мука - 180 г, мак - 160 г, яйца - 5 шт, масло сливочное - 150 г,
              сахар - 180 г, изюм - 100 г, ванильный сахар - 1 ч. ложка, соль -
              1 щепотка
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/pizza3.jpeg"
              class="card-img-top"
              alt="Американская пицца"
            />
            <h2 class="card-title">Американская пицца</h2>
            <p class="card-text"><b>6.05.2020</b></p>
            <p class="card-text">
              Сыр моцарелла - 250 г, сыр пармезан - 100 г, колбаса салями - 200
              г, шампиньоны - 150 г, оливки без косточек - 100 г, соус томатный
              - 200 г
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/salat3.jpg"
              class="card-img-top"
              alt="Салат Новогодний венок"
            />
            <h2 class="card-title">Салат "Новогодний венок"</h2>
            <p class="card-text"><b>29.04.2020</b></p>
            <p class="card-text">
              Капуста брокколи - 200 г, помидоры - 150 г, сыр творожный - 80 г,
              руккола - 1 пучок, фундук - 1 ч. ложка, кунжут - 1 ст. ложка
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/pizza2.png"
              class="card-img-top"
              alt="Бруклинская пицца"
            />
            <h2 class="card-title">Бруклинская пицца</h2>
            <p class="card-text"><b>19.08.2020</b></p>
            <p class="card-text">
              Сыр Моцарелла - 350 г, орегано - 1 ч. л., помидоры, базилик
              сушеный - 1/2 ч. л., свежие листочки базилика - 6-8 шт.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/tiramisu.jpg"
              class="card-img-top"
              alt="Тирамису"
            />
            <h2 class="card-title">Тирамису</h2>
            <p class="card-text"><b>4.09.2020</b></p>
            <p class="card-text">
              Печенье «Савоярди» - 200-250 г, сыр сливочный «Маскарпоне» - 500
              г, яйца - 6 шт, сахар - 150 г, кофе - 300 мл
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/salat4.jpg"
              class="card-img-top"
              alt="Крабовый салат Новинка"
            />
            <h2 class="card-title">Крабовый салат «Новинка»</h2>
            <p class="card-text"><b>13.07.2020</b></p>
            <p class="card-text">
              Крабовые палочки – 250 г, сыр плавленый – 200 г, чеснок – 2
              зубчика, яйца вареные – 3 шт, сухарики пшеничные – 70 г, кукуруза
              – 100 г, майонез – 150 г
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/pizza4.jpg"
              class="card-img-top"
              alt="Пицца с ветчиной и грибами"
            />
            <h2 class="card-title">Пицца с ветчиной и грибами</h2>
            <p class="card-text"><b>1.05.2020</b></p>
            <p class="card-text">
              Томаты - 2 шт, шампиньоны - 3-4 шт, ветчина - 200 г, сыр - 200 г,
              томатная паста - 3 столовые ложки, оливки и маслины
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/pizza5.jpg"
              class="card-img-top"
              alt="Пицца Венеция"
            />
            <h2 class="card-title">Пицца "Венеция"</h2>
            <p class="card-text"><b>14.06.2020</b></p>
            <p class="card-text">
              Лук - 1 шт, чеснок - 2-3 зубчика, помидоры - 300 г, специи - 1 ч.
              ложка, соль, сосиски - 2-3 шт, сыр - 150-200г
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/cake2.jpg"
              class="card-img-top"
              alt="Печенье Лимонные полумесяцы в глазури"
            />
            <h2 class="card-title">Лимонное печенье</h2>
            <p class="card-text"><b>7.07.2020</b></p>
            <p class="card-text">
              Сахарная пудра - 125 г, лимонная цедра, лимонный сок - 1/2 лимона,
              сахар - 250 г, миндальная мука - 300г
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="card">
          <div class="card-body">
            <img src="/assets/salat5.jpg" class="card-img-top" alt="Цезарь" />
            <h2 class="card-title">Салат "Цезарь"</h2>
            <p class="card-text"><b>21.01.2020</b></p>
            <p class="card-text">
              Куриное филе - 150 г, помидор - 1 шт, яйцо - 2 шт, хлеб белый - 2
              ломтика, листья салата - 4-5 шт
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
