.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  box-shadow: 0px 5px 9px 0px #e0e0e0;
}

.logo {
  font-size: 40px;
  font-family: Ubuntu-Regular serif;
  color: black;
  margin-left: 20px;
}

.toolbar-actions {
  margin-right: 50px;
}

.login {
  font-size: 20px;
  font-family: Ubuntu-Regular serif;
  color: black;
  cursor: pointer;
}

.registration {
  font-size: 20px;
  font-family: Ubuntu-Regular serif;
  margin-left: 50px;
  color: black;
  cursor: pointer;
}
