<nav class="toolbar">
  <a class="logo" routerLink="/">Ma chérie</a>
  <div class="toolbar-actions">
    <div *ngIf="!isAuth">
      <a class="login" routerLink="/auth/login">Войти</a>
      <a class="registration" routerLink="/auth/registration"
        >Зарегистрироваться</a
      >
    </div>
    <div *ngIf="isAuth" class="main_menu">
      <a class="menu" routerLink="">Рецепты</a>
      <a class="menu" routerLink="/home">Мои рецепты</a>
      <a class="menu" routerLink="/contact/record">Добавить/изменить рецепт</a>
      <a class="menu user">Здравствуйте, {{user.name}}</a>
      <a class="login" (click)="onLogout()">Выйти</a>
    </div>
  </div>
</nav>


