<h2 class="title">Изменить рецепт</h2>
<form>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
      <select
        class="form-control"
        id="e-select-category"
        >
        <option>
          1 Запись
          </option>
        <option>
          2 Запись
        </option>
        </select>
    </div>
  </div>
  <div
    class="form-group"
  >
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
      <input
        type="text"
        class= "form-control"
        placeholder="Введите название рецепта"
        >
    </div>
  </div>
  <div
    class="form-group"
  >
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
      <textarea
        class= "form-control"
        name="description"
        placeholder="Новый рецепт"
      ></textarea>
    </div>
  </div>
      <span class="h5">Добавьте фото рецепта</span>
      <div
        class="form-group"
      >
        <div class="input-group">
          <input
            type="file"
            class = "form-control-file"
            accept="image/*"
            name="photo"
          >
        </div>
      </div>

  <button
    class="btn btn-primary btn-block"
    type="submit"
  >Изменить</button>
</form>
