<div class="card">
  <div class="card-content">
    <span class="card-title">Создать аккаунт</span>
    <div class="input-filed">
      <label for="surname">Surname:</label>
      <input id="surname" type="surname" required>
    </div>
    <div class="input-filed">
      <label for="name">Name:</label>
      <input id="name" type="name" required>
    </div>
    <div class="input-filed">
      <label for="email">Email:</label>
      <input id="email" type="email" required>
    </div>
    <div class="input-filed">
      <label for="password">Пароль:</label>
      <input id="password" type="password" required>
    </div>
  </div>
  <div class="card-action">
    <button class="modal-action btn waves-effect">Создать</button>
  </div>
</div>
