<div class="fon">
<div class="title-block">
  <h3 class="text-center" style="color: #d41872">Список рецептов</h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
  Загрузка данных...
  </section>
  <section class="section " *ngIf="isLoaded">

    <section class="section1">
      <app-add-record (onRecordAdd)="newRecordAdded($event)"></app-add-record>
  </section>
    <section class="section text-center section1">
      <app-edit-record
        [records]="records"
        (onRecordEdit)="recordWasEdited($event)"
      ></app-edit-record>
    </section>

</section>
</div>
