.section1{
  display: flex;
  justify-content: center;

}
.fon{
  background: url("https://images-ext-1.discordapp.net/external/7WYCTET5_JX-uRF2Coh1DX5QT59U20nJKZ3cD1TiEWg/https/www.oboykin.ru/assets/images/products/28370/998638-%281%29.jpg?width=1142&height=476") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
}
